# Inform the editor that this is the root configuration file
root = true

# Default rules for all files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Specific rules for PowerShell files
[*.ps1]
charset = utf-8-bom
